:root {
  --accent-color: blueviolet; 
  --bg-color: aliceblue; 
}
body {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}
body,
a,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.count-up {
  font-size: 4rem;
  margin-bottom: 10px;
}
button {
  background-color: var(--accent-color);
  border-radius: 2px;
  border: 1px solid var(--accent-color);
  color: var(--bg-color);
  font-size: 2rem;
  padding: 1rem 2rem;
}
button:hover {
  background-color: var(--bg-color);
  color: var(--accent-color);
}
button:active {
  background-color: var(--accent-color);
  color: var(--bg-color);
}
